<div class="post-partial">
  <h3 class="post-title"><%= post.title %></h3>
    <p class="post"><%= post.body %></p>
    <div class="engagement">
     <p>
      Comments: <%= post.comments_counter %>
      Likes: <%= post.likes_counter %>
     </p>
    </div>
</div>
