<div class="post-summary">
  <h3 class="post-title"><%= post.title %></h3>
    <p class="post"><%= post.body %></p>
    <div class="engagement">
     <p>
      Comments: <span><%= post.comments_counter%></span>
     </p>
     <p>
      Likes: <span><%= post.likes_counter%></span>
     </p>
    </div>
</div>
