<div class="user-info-container">
   <div class="user-photo">
    <img class="user-img" src=<%= user.photo %> alt="profile photo" />
   </div>
   <div class="user-dets">
     <h3 class="name"><%= user.name %></h3>
     <span class="post-count">Number of posts: <%= user.posts.count %></span>
   </div>
</div>
